table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px $FFFFFF;
}


th {
    background-color: #3399FF;
    color: #B8DFF2;
}
td  {
    background-color:#D1F0FF;
    color:$FFFFFF;
    }