 <html>
  <body>
<h1>Alternative Options for Booking ID {{ bookingid }}</h1>




<table border="1" style="float: left;">
{% for row in opt1 %}
	{% if row == "OPTION 1:" %}
	<tr>
		<th>
		<strong> {{ row }} <strong>
	</th>
	</tr>

	{% else %}
	<tr>
		<td> {{ row }} </td>
	</tr>
	{% endif %}

{% endfor %}
</table>

<table border="1" style="float: left;">
{% for row in opt2 %}
	{% if row == "OPTION 2:" %}
	<tr>
		<th>
		<strong> {{ row }} <strong>
	</th>
	</tr>

	{% else %}
	<tr>
		<td> {{ row }} </td>
	</tr>
	{% endif %}

{% endfor %}
</table>

<table border="1" style="float: left;">
{% for row in opt3 %}
	{% if row == "OPTION 3:" %}
	<tr>
		<th>
		<strong> {{ row }} <strong>
	</th>
	</tr>

	{% else %}
	<tr>
		<td> {{ row }} </td>
	</tr>
	{% endif %}

{% endfor %}
</table>








</body>
</html>
