<!DOCTYPE html>
<html lang="en">
<body>
    <h1>King Country Metro Scheduling Updater</h1>
    <h3>Enter: (a) comma separated booking IDs or (b) a bus ID </h3>
    <p>Booking ID</p>
    <form action="/display" method="POST">
        <input type="text" name="bookingid">
        <input type="submit" value="Send">
    </form>

    <p>Bus ID</p>
    <form action="/display" method="POST">
        <input type="text" name="busid" >
        <input type="submit" value="Send" >
    </form>
</body>
</html>
