<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body>


<div id="thumbsucker"></div>

<!-- Calls the thumbsucker URL ever 1 seconds -->
<script type="text/javascript">

var count = 0;
(function poll() {
    (setTimeout(function () {
        $.ajax({
            type: 'POST',
            url: '/thumbsucker/',
        });
        count = count + 1;
        location.reload();
        poll();
    }, 5000));
})();



</script>
Example of a thumbsucker displayed {{ count }} times.

</body>
</html>
