backports.ssl-match-hostname==3.4.0.2
certifi==2015.4.28
functools32==3.2.3.post2
gnureadline==6.3.3
ipython==3.2.1
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
mistune==0.7
ptyprocess==0.5
Pygments==2.0.2
pyzmq==14.7.0
terminado==0.5
tornado==4.2.1
boto==2.38.0
haversine==0.4.2
numpy==1.9.2
pandas==0.16.2
python-dateutil==2.4.2
pytz==2015.4
requests==2.7.0
six==1.9.0
flask==0.10.1
wtforms==2.0.2

